{% extends 'arpegio-core/base.html' %}

{% block head %}
  {% with title=post.title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div>
  <h2>{{ post.title }}</h2>
  <p>{{ post.creation_date.date }} by {{ post.author }}</p>
  <div>
    {{ post.content }}
  </div>
</div>
{% endblock %}
