{% extends 'arpegio-core/base.html' %}

{% block head %}
  {% with title=tag %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div>
  <h2>Tag Archives: {{ tag }}</h2>
</div>
{% endblock %}

