{% extends 'arpegio-core/base.html' %}

{% block head %}
  {% with title=category %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div>
  <h2>Category Archives: {{ category }}</h2>
</div>
{% endblock %}
