{% for post in posts %}
<div>
  {% with post_url=post.get_absolute_url %}
    <h2>
      <a href="{{ post_url }}">{{ post.title }}</a>
    </h2>
    <p>{{ post.creation_date.date }} by {{ post.author }}</p>
    <div>
      {{ post.content }}
    </div>
  {% endwith %}
</div>
{% endfor %}
